* {
  box-sizing: border-box;
  margin: 0;
  font-family: Inter, sans-serif;
}

.apple-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.navbar {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.navbar a:hover {
  color: #0071e3;
}

.navbar .logo img {
  width: 30px;
  height: auto;
}
.navbar .menu {
  display: flex;
  gap: 24px;
}
.navbar .icons {
  display: flex;
  gap: 14px;
}

.navbar .icons img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  gap: 12px;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.notice {
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  color: #1d1d1f;
  padding: 10px 14px;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 48px;
  margin: 0%;
  font-size: 48px;
}

.hero-text p {
  font-size: 20px;
  margin: 10px 0 20px;
  font-size: 22px;
  color: white;
}

.btn {
  background-color: #0071e3;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #2997ff;
}

.ip16 {
  position: relative;
  text-align: center;
  color: white;
  gap: 12px;
}

.ip16 img {
  width: 100%;
  height: auto;
  display: block;
}

.ip16-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ip16-text h1 {
  font-size: 48px;
  margin: 0%;
  font-size: 48px;
}

.ip16-text p {
  font-size: 20px;
  margin: 10px 0 20px;
  font-size: 22px;
  top: 55px;
  color: white;
}

.btn-2 {
  background-color: #0071e3;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn-2:hover {
  background: #ffffff;
}

.section {
  position: relative;
  text-align: center;
  color: white;
  gap: 12px;
}

.section img {
  width: 100%;
  height: auto;
  display: block;
}

.section-text {
  position: absolute;
  top: 500px;
  left: 975px;
}

.section h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #000;
}

.section p {
  font-size: 18px;
  color: #000000;
  margin: 0 0 20px;
}
.baton {
  display: inline-block;
  background: #0071e3;
  color: white;
  padding: 12px 24px;
  border-radius: 999px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.column {
  flex: 1 1 50%;
  box-sizing: border-box;
  gap: 14px;
  text-align: center;
}
.column img {
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-size: 48px;
  margin: 0%;
  font-size: 48px;
}

p {
  font-size: 18px;
  color: #000000;
  margin: 10 0 20px;
}

.btn-small {
  background-color: #0071e3;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flexs;
}
.scroll-container {
  width: 100vw;
  overflow: scroll;
}
.scroll {
  display: flex;
  width: fit-content;
  gap: 10px;
  cursor: grab;
}

.item h1 {
  color: white;
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.item {
  margin: 0 auto;
  overflow: hidden;
  display: block;
}

.item img {
  width: 100;
  height: auto;
  display: block;
  object-fit: cover;
  scroll-snap-align: center;
}

.gallery h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container {
  width: 100vh;
  margin: 40px auto;
  overflow-y: hidden;
}

.slider {
  display: flex;
  gap: 16px;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.slider:hover {
  animation-play-state: paused;
}

.img {
  flex: 0 0 300px;
  overflow: hidden;
  width: 417px;
  height: 236px;
}

.img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider::-webkit-scrollbar {
  height: 10px;
}

.slider::-webkit-scrollbar-thumb {
  background: #999;
}
.slider:hover .img img {
  filter: brightness(40%);
}

.slider .img:hover img {
  filter: brightness(100%);
}

.img {
  flex: 0 0 auto;
  height: 200px;
  overflow: hidden;
  scroll-snap-align: center;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tablist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tablist img {
  width: 220px;
  height: 8px;
  gap: 10px;
}

.nav {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.bg {
  width: 100%;
  height: auto;
}

.notice {
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  color: #1d1d1f;
  padding: 10px 14px;
}

.store-header {
  font-family: "SF pro Display", Arial, sans-serif;
  padding: 40px 0;
}

.store-header h1 {
  font-size: 36px;
  font-weight: 600;
  color: #1d1d1f;
}

.store-header .store {
  color: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}

.product-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.product-nav .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.product-nav .item img {
  width: 120px;
  height: auto;
  margin-bottom: 8px;
}

.product-nav .item p {
  font-size: 14px;
  color: #1d1d1f;
}

.gallery {
  display: flex;
  gap: 20px;
  padding-bottom: 140px;
}

.gallery .item {
  width: 300px;
}

.gallery img {
  width: 136px;
  height: 146px;
  gap: 12px;
}

.product {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card .text {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #000;
  font-family: Arial, sans-serif;
}
.card .text h2 {
  color: #b64400;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card .text h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card1 .text p {
  font-size: 14px;
  margin-top: 5px;
}

.text-overly1 {
  position: absolute;
  top: 15px;
  left: 20px;
  color: black;
  font-weight: 600;
  z-index: 2;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 480px;
  height: auto;
}

.header span {
  color: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}

.section {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.section.img {
  flex: 0 0 auto;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 480px;
  height: auto;
}

.box-header {
  font-family: "SF pro Display", Arial, sans-serif;
  padding: 40px 0;
}

.box-header h3 {
  font-size: 36px;
  font-weight: 600;
  color: #1d1d1f;
}

.box-header .header {
  color: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.nav .box-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.nav .img img {
  width: 313px;
  height: 500px;
  margin-bottom: 8px;
}

.nav .box-text p {
  font-size: 14px;
  color: #1d1d1f;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-box {
  background: grey;
  width: 313px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container img {
  width: 400px;
  border-radius: 15px;
}

.txt {
}

.product-box img {
  width: 230px;
  height: 230px;
  object-fit: contain;
  top: 71px;
  left: 50%;
  margin-bottom: 10px;
}

.product-box h3 {
  font-size: 16px;
  margin: 5px 0;
}

.price {
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

.tag {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-comtainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.crad-container img {
  width: 400px;
  border-radius: 15px;
}

.product-card {
  background: grey;
  width: 313px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 230px;
  height: 230px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 16px;
  margin: 5px 0;
}

.price {
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

.texxt {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}
